body {
    text-align: center;
}
#calculadora {
    background-color: lightgoldenrodyellow;
    border: 5px outset lightskyblue;
    margin-top: 5%;
    position: relative;
    align-items: center;
    display: inline-block;
    width: 380px;
}
#resultado {
    border: solid 3px black;
    background-color: white;
    text-align: right;
    margin: 10%;
    padding: 3px;
    min-width: 80%;
    font-size: larger;
}
.botonAccion, .boton{
    background-color:rgb(224, 222, 222);
    text-align: center;
    height: 35px;
    font-size: larger;
}
.boton {
    width: 15%;
}
.botonAccion{
    color: red;
    width: 25%;
}
#acciones{
    margin-bottom: 10%;
}
